.top_header {
    padding: 7px 0px;
    background: var(--main-color);
}

.header_contact {
    position: relative;
}

.header_contact ul li a {
    color: var(--global-color);
}

.contact_header_icon i {
    font-weight: 400;
}

.contact_header_text {
    font-size: 18px;
    font-weight: 300;
    margin-left: 5px;
}

.social_icon {
    height: 25px;
    width: 25px;
    background-color: rgb(255 255 255 / 10%);
    display: grid;
    place-content: center;
    border-radius: 3px;
}


.logo a {
    width: 150px;
    display: flex;
    align-items: center;
}

.main_header {
    padding: 10px 0px;
    border-bottom: 1px solid var(--border-color);
    background: var(--primary-bg);
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_item {
    position: relative;
}

.header_nav_link {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 6px;
    line-height: 1;
    transition: var(--transition);
}

.sidebar__university .main_btn {
    padding: 10px;
}

.header_nav_item:not(:last-child):hover .header_nav_link {
    color: var(--main-color);
}

.header_nav_link i {
    font-weight: 400;
    font-size: 14px;
}



.sub_menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-bg);
    padding: 10px;
    width: 220px;
    transition: var(--transition);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 8%);
    border: 1px solid rgb(71 85 105 / 5%);
    visibility: hidden;
    transition: var(--transition);
    max-height: 0px;
    overflow: hidden;
    z-index: 99;
}

.header_nav_item:hover .sub_menu {
    visibility: visible;
    top: 100%;
    max-height: 700px;
}


.sub_menu_link {
    display: block;
    color: var(--text-color);
    font-weight: 500;
    padding: 3px 6px;
    border-bottom: 1px dotted rgb(15 23 42 / 20%);
    font-size: 15px;
}

.sub_menu_link:hover {
    background: var(--main-color);
    color: var(--global-color);
}

.header_nav_item:not(:last-child) .sub_menu_link {
    margin-bottom: 5px;
}


/* Mobile Nav */

.offcanvas.offcanvas-start {
    width: 320px;
    height: 100vh;
}

.offcanvas-backdrop {
    height: 100vh;
}

.nav_logo a {
    width: 95px;
    display: block;
}

.mobile_suv_nav>ul {
    margin: 10px;
    padding-bottom: 10px;
}

.mobile_nav ul li:not(:last-child) {
    margin-bottom: 10px;
}

.nested_mobile_subnav ul {
    margin: 10px;
    border-radius: 4px;
}

.mobile_sub_nav_item {
    background: #e9ecef;
}

a.sub_dropdown_btn.active {
    background: var(--main-color);
    color: var(--global-color) !important;
}

.offcanvas-header button,
.cross_tourside button,
.modal__header button {
    height: 36px;
    width: 36px;
    background: var(--main-color);
    box-sizing: border-box;
    border-radius: 50%;
    color: var(--global-color);
    border: none;
    font-size: 20px;
    display: grid;
    place-content: center;
}

.mobile_nav>ul>li {
    background: var(--primary-bg);
    border-radius: 5px;
}

.mobile_nav ul li a {
    padding: 7px 20px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.dropdown_button.active {
    background: var(--main-color);
    color: var(--global-color);
}

.mobile_sub_nav_item a {
    color: var(--text-color) !important;
    padding: 5px 10px;
}

.mobile_suv_nav {
    display: none;
}

.nested_mobile_subnav {
    display: none;
}

.mobile_nav ul li a p span {
    text-transform: capitalize;
}


/* count success start */

.single__count {
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: rgb(209, 210, 230) 0px 8px 24px;
    transition: var(--transition);
}

.single__count:hover {
    transform: translateY(-5px);
}

.single__count img {
    width: 100px;
    margin: auto;
    transition: var(--transition);
}

.single__count h2 {
    font-size: 40px;
}

.single__count h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--main-color);
}

.single__count:hover img {
    transform: scale(1.1);
}

/* count success end */

/* about start */
span.vission__card__image {
    width: 100px;
    display: inline-block;
    margin-right: 10px;
}

.vission__content ul li {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    transition: all .5s ease-in-out;
}

span.vission__card__content h4 {
    font-size: 20px;
}

span.vission__card__content p {
    line-height: 1.3;
}

.vission__content ul li:hover {
    transform: translateY(-10px);
    background: #fff;
}

/* about end */

/* banner start */
.advanced__search h1 {
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 800;
}

.advanced__search h1::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: #000;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;
}

.advanced__search ul li a {
    background: #000;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    animation: textAnimation 2s infinite;
    padding: 5px 10px;
    margin-top: 15px;
    /* animation: backgroundAnimation 2s infinite; */
    border-radius: 5px;
    font-size: 18px;
    transition: var(--transition);
}

.advanced__search ul li a:hover {
    animation-play-state: paused;
    /* Pause the animation on hover */
    color: green;
    /* Change text color on hover (optional) */
}

@keyframes textAnimation {
    0% {
        color: #fff;
    }

    50% {
        color: #F2382C;
    }

    100% {
        color: #fff;
    }
}


.advanced__search ul {
    gap: 10px;
}

.section_heading span {
    position: absolute;
    top: 50%;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    left: 0;
    transform: translateY(-50%);
    right: 0;
}
.advanced__search form input {
    padding: 15px;
    width: 100%;
    border: none;
}
/* .advanced__search input {
    padding: 15px;
    width: 500px;
} */

.advanced__search input:focus {
    border-color: none;
    box-shadow: none;
}

.search__result {
    width: 100%;
    background: #fff;
    position: absolute;
    border-radius: 3px;
}

.search__result a {
    display: block;
    text-transform: capitalize;
    color: #000;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    transition: all .5s ease-in-out;
}

.search__result a:last-child {
    border-bottom: 0;
}

.search__result a:hover {
    background: #01479b;
    color: #fff;
}

.advanced__search {
    position: absolute;
    top: 50%;
    max-width: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
/* banner end */

/* courses start */
.courses_area {
    background: var(--primary-bg);
}

.courses_area.section_padding {
    background: #E5ECF4;
}

.single__course {
    text-align: center;
    display: block;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.single__course:hover {
    margin-top: -5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.single__course img {
    object-fit: scale-down;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    max-height: 150px;
    min-height: 150px;
    transition: all .5s ease-in-out;
}

.single__course span {
    margin-top: 10px;
    display: block;
    text-transform: capitalize;
    line-height: 1;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.single__course:hover span {
    color: #01479B;
}

a.single__course:hover img {
    transform: scale(1.02);
}

/* courses end */

/* services start */
.service__content {
    overflow: hidden;
    display: block;
    border-radius: 10px;
}

.single__service img {
    max-width: 68px;
    margin: auto;
    transition: var(--transition);
    width: 100%;
    margin-top: 20px;
}

.service__content:hover .single__service img {
    margin-top: 0px;
    margin-bottom: 20px;
}

.service__content:hover img {
    transform: scale(1.1);
}

.single__service h6 {
    text-transform: uppercase;
    padding: 0 10px;
    transition: var(--transition);
    margin-top: 20px;
    color: var(--text-color);
    font-weight: 500;
}

.service__content:hover .single__service h6 {
    margin-top: 0px;
    margin-bottom: 26px;
}

.service__hover p {
    color: var(--text-color);
}

.single__service {
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    position: relative;
    transition: var(--transition);
    padding: 40px 20px;
}


.service__hover {
    position: absolute;
    bottom: -50%;
    text-align: center;
    background: #cfd3ff;
    border-radius: 0 0 8px 8px;
    padding: 5px 10px;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}

.service__content:hover .service__hover {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

/* services end */

/* country start */
.single__country {
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.country__thumbnail h4 {
    bottom: 10px;
    position: absolute;
    background: #959bffdb;
    width: 100%;
    padding: 5px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: var(--transition);
    font-size: 20px;
    color: var(--primary-bg);
}

.single__country:hover .country__thumbnail h4 {
    bottom: -100%;
    opacity: 0;
}

.view_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    z-index: 2;
    align-items: center;
}

.single__country:hover .view_list {
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.view_list::after {
    position: absolute;
    content: '';
    background: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
}


.view_list a {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 16px;
    /* border: 1px solid #898ee5; */
    padding: 10px 20px;
    /* border-radius: 5px; */
    background: #8195f1;
}

.study_country_headline {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.study_country_headline span {
    font-size: 50px;
    color: #4555F4;
    border-bottom: 2px solid;
}

.country__info p {
    font-size: 16px;
    line-height: 1.8;
}

.study__facilities h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.study__facilities ul {
    margin-left: 50px;
}

.study__facilities ul li {
    list-style: disc;
    font-size: 17px;
    transition: all .5s ease-in-out;
    margin-bottom: 15px;
}

/* country end */


/* university start */
.single__univeristy {
    display: block;
    text-align: center;
    background: #fff;
    transition: all .5s ease-in-out;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    border-radius: 5px;
}

.single__univeristy:hover {
    margin-top: -5px;
}

.single__univeristy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
    transition: all .5s ease-in-out;
}

.single__univeristy h4 {
    text-transform: capitalize;
    color: #01479b;
    height: 50px;
    font-size: 20px;
    line-height: 1;
    /* margin-bottom: 5px; */
    padding: 5px;
}

.single__univeristy p {
    color: #000;
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
}

.single__univeristy p i {
    margin-right: 5px;
}

/* university end */

/* video start */
.video-wrapper {
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.video-wrapper video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* video end */

/* review start */

.student__review__area {
    background-size: cover;
    animation: testiMonial 20s linear infinite;
    position: relative;
}

@keyframes testiMonial {
    0% {
        background-position: 0 0;
    }

    15% {
        background-position: 250px 50px;
    }

    30% {
        background-position: 500px 0px;
    }

    45% {
        background-position: 750px 50px;
    }

    60% {
        background-position: 1000px 0px;
    }

    75% {
        background-position: 1250px 50px;
    }

    90% {
        background-position: 1500px 0px;
    }

    100% {
        background-position: 1750px 50px;
    }
}



.university__active .slick-slide,
.partnet__active .slick-slide,
.review__active .slick-slide {
    margin: 0 10px;
}

.university__active .slick-list,
.partnet__active .slick-list,
.review__active .slick-list {
    margin: 0 -10px;
}

.review__description {
    text-align: center;
}

.review__description i {
    font-size: 30px;
    color: #d1d2e6;
    font-weight: 1;
}

.review__description {
    border-radius: 5px;
    padding-bottom: 70px !important;
}

.review__author img {
    width: 100px;
    border-radius: 50px;
    object-fit: cover;
    margin: auto;
    height: 100px;
    background: var(--main-color);
    padding: 3px;
}

.review__author {
    text-align: center;
    margin-top: -50px;
}

.single__review {
    /* position: relative; */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    border: 1px solid #ddd;
    border-radius: 10px;
}

.review__author h5 {
    text-transform: capitalize;
    letter-spacing: 3px;
    margin-bottom: 0;
    padding: 8px 0;
}

/* review end */



/* blog start */

.single__blog {
    padding: 10px;
    background: #F2F3F7;
    border-radius: 10px;
    padding-bottom: 0;
    transition: var(--transition);
}

.single__blog:hover {
    transform: translateY(-5px);
}

.blog__content {
    padding: 20px;
    padding-top: 0;
}

.blog__meta {
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #4555f4;
}

.blog__content a {
    color: #000;
    transition: var(--transition);
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
    display: block;
    margin-top: 7px;
}

.single__blog:hover .blog__content a {
    color: #4555F4;
}

.blog__thumbnail a img {
    border-radius: 5px 5px 0 0;
}

/* blog end */

/* gallery start */
.single__photo img {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
}

.single__photo:hover img {
    transform: scale(1.1);
}

.single__photo {
    display: block;
    overflow: hidden;
    max-height: 270px;
    height: 100%;
    min-height: 270px;
}

/* gallery end*/


/* contact start */
.contact__form input,
.contact__form textarea {
    background: #F9F9F9;
}

.contact__form input:focus,
.contact__form textarea:focus {
    box-shadow: none;
}

.contact__form button {
    background: #061a3a;
    color: #fff;
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all .5s ease-in-out;
    border: 2px solid transparent;
}

.contact__form button:hover {
    border: 2px solid #061a3a;
}

/* contact end */

/* blog details start */
.blog__list ul li a img {
    width: 30px;
    margin-right: 10px;
    border-radius: 5px;
    height: 30px;
    object-fit: cover;
}

.blog__list ul li a {
    display: flex;
    align-items: center;
}

.blog__list ul li a h4 {
    font-size: 15px;
    color: #000;
    font-weight: 400;
}


.blog__list h3 {
    text-transform: capitalize;
    background: #01479b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
}.blog__list ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.blog__details__content h5 {
    margin: 10px 0;
}

.blog__details__content p {
    margin-bottom: 10px;
}

.blog__list,
.filter__area {
    position: sticky;
    top: 10px;
}

/* blog details end */

/* university wise course start*/

.university__name {
    margin-bottom: 0;
    font-size: 22px;
}

.university__item__content a {
    font-size: 18px;
    color: #01479b;
    display: block;
}

.university__item__content {
    margin-left: 20px;
}

.course__list li {
    font-size: 18px;
}

.university__item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: var(--transition);
}

.university__item:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.university__item:last-child {
    margin-bottom: 0;
}

.universitiy__heading img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.university__thumbnail a img {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    object-fit: cover;
}

.university__thumbnail {
    max-width: 300px;
    margin-right: 20px;
}

.university__course__list {
    margin-top: 10px;
}

.course__list li small {
    color: #3269ac;
}

.course__list li small span {
    color: #8a5779;
}

.university__course__list p img {
    width: 20px;
    object-fit: cover;
    height: 20px;
}

.university__course__list p {
    display: flex;
    gap: 10px;
    align-items: center;
}

.university__course__list a {
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: capitalize;
}

.search__uni__result h5 {
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 25px;
}

/* university wise course end*/

/* university details start */

.sidebar__single__universitiy img {
    width: 50px;
    object-fit: cover;
    height: 50px;
    border: 1px solid #ddd;
    padding: 4px;
}

.sidebar__single__universitiy a {
    margin-bottom: 0;
    text-transform: capitalize;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}

.sidebar__single__universitiy {
    border-bottom: 1px dotted #0d6efd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sidebar__single__universitiy:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.sidebar__university {
    position: sticky;
    top: 10px;
}

.university__info .nav-tabs .nav-item button {
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
    font-size: 16px;
}

.university__info .nav-tabs .nav-item button.nav-link.active {
    color: #fff;
    border-bottom: none;
    background: #F2382C;
}

.university__about__content__hidden {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.university__about__content__expand {
    max-height: 500px;
    /* Adjust the value to fit your content */
    opacity: 1;
}

.university__about__content button#show-more {
    padding: 7px 20px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    border: none;
    margin-top: 15px;
}

ul.university__facilities li img {
    width: 50px;
}

ul.university__facilities li {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

ul.university__facilities {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}

ul.university__facilities li span {
    margin-left: 10px;
    text-transform: capitalize;
    font-weight: 600;
}

ul.university__facilities li:hover {
    transform: translateY(-5px);
}

.university__fees_table .fees {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.university__fees_table {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.university__fees_table .fees span:nth-child(2) {
    color: #F2382C;
}
.university__fees_table:last-child {
    margin-bottom: 0;
}

.university__fees_table .fees span small {
    color: #4555f4;
}

.university__fees_table .fees span {
    width: 33.33%;
}

.university__fees_table .fees span:last-child {
    text-align: end;
}

.university__fees_heading {
    display: flex;
    justify-content: space-between;
    background: #f6fdfe;
    padding: 10px;
    font-weight: 600;
}

.university__fees_heading span {
    font-size: 18px;
}

.university__fees_table .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* university details end */


/* footer start */

.footer__area {
    position: relative;
    z-index: 2;
    /* background-image: url(../image/partnet.png);
    background-size: cover;
    background-repeat: repeat-x;
    animation: footer 20s linear infinite; */
}

@keyframes footer {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1920px 0;
    }
}

.footer__area::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
}

.footer__social li {
    position: relative;
    display: inline-block;
}

.footer__social li a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.single__footer__about {
    color: #fff;
    margin-bottom: 20px;
}

.single__footer__about p {
    color: #aeb1b8
}

.footer__title {
    color: #fff;
    font-size: 25px;
    margin-bottom: 15px;
}

.footer__menu ul li {
    padding: 5px 0;
}

.footer__menu ul li a {
    color: #aeb1b8;
    text-transform: capitalize;
    font-size: 16px;
    transition: var(--transition);
}

.footer__menu ul li a:hover {
    color: #fff;
    margin-left: 5px;
}

.single__footer__about p a {
    color: #aeb1b8;
}

.single__footer__about h6 i {
    color: #fff;
    font-size: 20px;
}

.copyright {
    background: #4555F4;
    color: #fff;
    border-top: 1px solid #ddd;
}

#scrollUp {
    bottom: 23px;
    right: 80px;
    background: #F2F3F7;
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: var(--bs-black-rgb);
    font-weight: 600;
    line-height: 1;
    border-radius: 50px;
    width: 37px;
    text-align: center;
    transition: var(--transition);
    border: 1px solid var(--main-color);
}

#scrollUp:hover {
    transform: translateY(-5px);
}

#gb-widget-6194 {
    bottom: 70px !important;
}

/* apply form */
div#imagePreview img {
    width: 100px;
}

form.apply__form input {
    padding: 10px;
}

form.apply__form input:focus,
form.apply__form textarea:focus {
    box-shadow: none;
}

.apply__form .select2-container,
.payfee__form .select2-container {
    width: 100% !important;
}

.apply__form .select2-container--default .select2-selection--single,
.payfee__form .select2-container--default .select2-selection--single {
    height: 42px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.apply__form .select2-container--default .select2-selection--single .select2-selection__arrow,
.payfee__form .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px !important;
}

.payfee__form input:focus {
    box-shadow: none;
}

.payfee__form input {
    padding: 10px;
}
.payment__section ul li {
    display: flex;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    padding: 10px;
    font-weight: 600;
}
.payment__section ul li p{
    font-size: 18px;
}
.payment__section {
    border: 1px solid #ddd;
    border-radius: 5px;
}
